<%- include('partials/header.ejs');%>

<body>
    <%- include('partials/navbar.ejs');%>
    
    <h1>Estilo do bootstrap</h1>
    <a href="/question">quetionario</a>
</body>

<%- include('partials/script.ejs');%>